body{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	height: 100%; 
}

.css-border{
	border-bottom: 1px solid #d4d3d3;
	margin-bottom: 15px;
}

header{
	width: 100%;
	height: 50px;
	background-color: #092542;
	color: white;
	padding: 10px; 
}

header h2 {
	margin:0;
}

footer{
	width: 100%;
	height: 50px;
	background-color: #092542;
	margin-top: 30px;
}
.box-info-adm{
	margin-top: 55px;
}

.fail{
	color:red;
	font-size: 10px;
}

.buttons-form button{
	margin-left: 5px;
}