<!DOCTYPE html>
<html ng-app="despegar">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Renzo Parente</title>
	<!--Styles-->
	<!--Bootstrap-->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
	<!--my Styles-->
	<link rel="stylesheet" href="css/styles.css">

	<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">

	<link rel="stylesheet" href="vendor/angular-toastr/dist/angular-toastr.css">
</head>
<body>
	<div ng-controller="ctrl">
		<header>
			<div class="row">
				<div class="col-md-6">
					<h2>Delivery Online</h2>
				</div>
				<div class="col-md-6">
					<div class="pull-right">
						<img src="img/logo.png" alt="logo despegar" width="200px" height="35px">
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="container">
				<!--Formulario de datos-->
				<form name="form_data" novalidate>
					<div class="css-border">
						<h4>Datos administrativos</h4>
					</div>
					<div class="form-group row">
						<label for="name" class="col-md-2 col-form-label">Nombre</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="name" name="name" maxlength="50" required ng-model="delivery.name" 
							ng-model-options="{ updateOn: &apos;blur&apos;}" my-form-validation>
						</div>
						<span class="fail col-md-3" ng-show="form_data.name.$invalid">Este campo es obligatorio</span>
					</div>
					<div class="form-group row">
						<label for="phone" class="col-md-2 col-form-label">Teléfono</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="phone" name="phone" maxlength="50" required ng-model="delivery.phone">
						</div>
						<span class="fail col-md-3" ng-show="!form_data.phone.$valid">Este campo es obligatorio</span>
					</div>
					<div class="form-group row">
						<label for="description" class="col-md-2 col-form-label">Descripción</label>
						<div class="col-md-3">
							<textarea class="form-control" id="description" rows="3" maxlength="1000" required name="description" ng-model="delivery.description"></textarea>
							<span>Restan <span class="num_char_description">1000</span> caracteres.</span>
						</div>
						<span class="fail col-md-3" ng-show="!form_data.description.$valid">Este campo es obligatorio</span>
						
					</div>
					<div class="form-group row">
						<label for="specials" class="col-md-2 col-form-label">Especialidades</label>
						<div class="col-md-3">
							<textarea class="form-control" id="delivery.specials" rows="3" maxlength="500"></textarea>
							<span>Restan <span class="num_char_specials">500</span> caracteres.</span>
						</div>
						
					</div>
					<div class="form-group row">
						<label for="address" class="col-md-2 col-form-label">Dirección</label>
						<div class="col-md-2">
							<input type="text" class="form-control" id="address" name="address" maxlength="200" required ng-model="delivery.address">
						</div>
						<span class="fail col-md-3" ng-show="!form_data.address.$valid">Este campo es obligatorio</span>
					</div>
					<div class="row form-group">
                        <div class="form-inline">
                            <label class="col-md-2" for="hour_open">Horario de Atención</label>                        
                            <div class="input-group col-md-2">
                                <input class="form-control" type="time" id="hour_open" name="hour_open" required ng-model="delivery.hour_open"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>  
                            </div> a
                            <div class="input-group col-md-2">
                                <input class="form-control" type="time" id="hour_close" name="hour_close" required ng-model="delivery.hour_close"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                            <div class="input-group col-md-3">
                                <span class="fail" ng-show="form_data.hour_open.$valid && form_data.hour_close.$valid">Este campo es obligatorio</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-6">
                    		<div class="css-border">
								<h4>Contacto administrativo</h4>
							</div>
							<div class="box-info-adm">
								<div class="form-group row">
									<div class="form-inline">
	                                    <label class="col-md-4" for="adm_name">Nombre</label>
	                                    <input class="form-control col-sm-4 col-md-2" type="text" id="adm_name" name="delivery.ca.adm_name" maxlength="200" required ng-model="delivery.ca.adm_name"/>
	                                    <span class="fail col-md-3" ng-show="form_data.delivery.ca.adm_name.$valid">Este campo es obligatorio</span>
	                                </div>
								</div>
								<div class="form-group row">
									<div class="form-inline">
	                                    <label class="col-md-4" for="adm_surname">Apellido</label>
	                                    <input class="form-control col-sm-4 col-md-2" type="text" id="adm_surname" name="adm_surname" maxlength="200" required ng-model="delivery.ca.adm_surname"/>
	                                    <span class="fail col-md-3" ng-show="form_data.adm_surname.$valid">Este campo es obligatorio</span>
	                                </div>
								</div>
								<div class="form-group row">
									<div class="form-inline">
	                                    <label class="col-md-4" for="adm_phone">Teléfono</label>
	                                    <input class="form-control col-sm-4 col-md-2" type="text" id="adm_phone" name="adm_phone" maxlength="100" required ng-model="delivery.ca.adm_phone"/>
	                                    <span class="fail col-md-3" ng-show="form_data.adm_phone.$valid">Este campo es obligatorio</span>
	                                </div>
								</div>
								<div class="form-group row">
									<div class="form-inline">
	                                    <label class="col-md-4" for="adm_email">Email</label>
	                                    <input class="form-control col-sm-4 col-md-2" type="email" id="adm_email" name="adm_email" maxlength="100" required ng-model="delivery.ca.adm_email"/>
	                                    <span class="fail col-md-3" ng-show="form_data.adm_email.$valid">Este campo es obligatorio</span>
	                                
	                                </div>
								</div>
								<span class="fail">El email ingresado es incorrecto</span>	
							</div>	
                    		
                    	</div>
                    	<div class="col-md-6">
                    		<div class="css-border">
								<h4>Contacto comercial</h4>
							</div>	
							<div class="row form-group">
                                <div class="form-inline col-sm-6 col-md-6">
                                    <input id="idem" name="idem" type="checkbox" ng-model="is_idem" ng-click="idem_data()"/>Idem contacto administrativo
                                </div>
                            </div>
                    		<div class="form-group row">
								<div class="form-inline">
                                    <label class="col-md-4" for="co_name">Nombre</label>
                                    <input class="form-control col-sm-4 col-md-2" type="text" id="co_name" name="co_name" maxlength="200" required ng-model="delivery.cc.name"/>
                                    <span class="fail col-md-3" ng-show="!is_idem">Este campo es obligatorio</span>
                                </div>
							</div>
							<div class="form-group row">
								<div class="form-inline">
                                    <label class="col-md-4" for="co_surname">Apellido</label>
                                    <input class="form-control col-sm-4 col-md-2" type="text" id="co_surname" name="co_surname" maxlength="200" required ng-model="delivery.cc.surname"/>
                                    <span class="fail col-md-3" ng-show="!is_idem">Este campo es obligatorio</span>
                                </div>
							</div>
							<div class="form-group row">
								<div class="form-inline">
                                    <label class="col-md-4" for="co_phone">Teléfono</label>
                                    <input class="form-control col-sm-4 col-md-2" type="text" id="co_phone" name="co_phone" maxlength="100" required ng-model="delivery.cc.phone"/>
                                    <span class="fail col-md-3" ng-show="!is_idem">Este campo es obligatorio</span>
                                </div>
							</div>
							<div class="form-group row">
								<div class="form-inline">
                                    <label class="col-md-4" for="co_email">Email</label>
                                    <input class="form-control col-sm-4 col-md-2" type="email" id="co_email" name="co_email" maxlength="100" required ng-model="delivery.cc.email"/>
                                    <span class="fail col-md-3" ng-show="!is_idem">Este campo es obligatorio</span>
                                </div>
							</div>
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-md-12 buttons-form">
                    		<button class="btn btn-primary pull-right" ng-click="save(delivery)">Guardar</button>
                    		<button class="btn btn-primary pull-right">Cancelar</button>
                    	</div>
                    </div>
				</form><br><br><br>
				<!-- Gilla -->
		        <div ng-show="true">
			        <div class="css-border">
			        	<div class="row">
			                <div class="col-md-6">
			                    <h4>Listado de deliveries</h4>
			                </div>    
			                <div class="col-md-6">
			                	<button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-asterisk"></span> Crear nuevo delivery</button>
			                </div>
			            </div>
			        </div>
		            <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
		                <tr ng-repeat="rowData in $data">
		                    <div class="row">
		                        <!--<span class="glyphicon glyphicon-filter"></span>
		                        <td class="col-md-1" title="'Filtros'"></td>-->
		                        <td class="col-md-3 ng-cloak" title="'Nombre'" filter="{ name: 'text'}" sortable="'name'">
		                            {{rowData.name}}</td>
		                        <td class="col-md-3 ng-cloak" title="'Dirección'" filter="{ address: 'text'}">
		                            {{rowData.address}}</td>
		                        <td class="col-md-3 text-center ng-cloak" title="'Teléfono'">
		                            {{rowData.phone}}</td>
		                        <td  class="col-md-2 text-center">
		                            <a class="btn btn-danger btn-sm" ng-click="askRemove(rowData)">
		                                <span class="glyphicon glyphicon-trash"></span>
		                            </a>
		                            <a class="btn btn-primary btn-sm" ng-click="edit(rowData)">
		                                <span class="glyphicon glyphicon-pencil"></span>
		                            </a>

		                        </td>
		                    </div>
		                </tr>
		            </table>   
		        </div>
			</div>
		<section>
		<footer>
		</footer>
	</div>
	<!--Dependences Scripts-->
	<!--JQuery-->
	<script src="vendor/jquery/dist/jquery.js"></script>
	<!--Bootstrap-->
	<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<!--Angular-->
	<script src="vendor/angular/angular.js"></script>
	<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
	<!--My scripts-->
	<script src="js/angular/controllers/myController.js"></script>
	<script src="js/angular/directives/myDirective.js"></script>
	<script src="vendor/angular-animate/angular-animate.js"></script>
	<script src="vendor/angular-toastr/dist/angular-toastr.tpls.js"></script>
</body>
</html>